#banner
    background: black
    min-height: 100vh
    position: relative
    background:
        image: url(../img/banner-bg.jpg)
        size: cofer
        position: center
    .content
        position: absolute
        width: 100%
        max-width:
        top: 30%
        left: 10%
        .title
            font:
                size: 4rem
                weight: 700
            color: white
        .wrapper
            display: flex
            margin-bottom: 1rem
        button, input
            display: inline-block
            height: 50px
        button
            background: $main
            color: white
            width: 200px
            line-height: 50px
            text-align: center
            border: 1px solid white
        input
            width: 400px
            background: white
            text-indent: 20px
        .slug 
            font:
                size: 0.8rem
                weight: 400
            color: white
            line-height: 1.2



@media(max-width: 800px)
    #banner .content
        top: 18%
        .title
            font-size: 3rem

@media(max-width: 650px)
    #banner .content
        left: 5%
        width: 90%
        .wrapper
            flex-direction: column
            button, input
                width: 100%
                margin-bottom: 1rem

@media(max-width: 500px)
    #banner .content
        .title
            font-size: 2.5rem
            text-align: center
        button, input
            height: 50px
        button
            line-height: 50px